<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.androidsurvivalcoding">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".mygallery.GalleryMainActivity"
                android:label="전자액자"
                android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".tiltsensor.SensorMainActivity"
                android:label="수평 측정기"
                android:parentActivityName=".MainActivity"/>
        <activity
                android:name=".webbrowser.WebMainActivity"
                android:label="나만의 웹 브라우저"
                android:parentActivityName=".MainActivity"/>
        <activity
                android:name=".stopwatch.StopWatchMainActivity"
                android:label="스톱워치"
                android:parentActivityName=".MainActivity"/>
        <activity
                android:name=".bmicalculator.BmiResultActivity"
                android:label="비만도 계산기"
                android:parentActivityName=".bmicalculator.BmiMainActivity"/>
        <activity
                android:name=".bmicalculator.BmiMainActivity"
                android:label="비만도 계산기"
                android:parentActivityName=".MainActivity"/>
        <activity
                android:name=".MainActivity"
                android:label="안드로이드 생존코딩">
        </activity>
    </application>

</manifest>